.wholepage {
    display: flex;
    justify-content: center;
    gap: 2vw;
}
/* .leftside{
    width:35%
} */
.product {
    border: 1px solid black;
    align-items: center;
   margin-top: 5%;
    height: 250px;
    display: flex;
    gap:1vw;
}

.productleftside {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 230px;
    /* margin: 10%; */
}

.productleftside img {
    width: 100%;
    object-fit: fill;
    height: 100%;

}
.productrightsidedetails {
    display: flex;
    gap: 1vw;
    padding: 16px;
    margin-top: 18px;
}



.productrightsideqty select {
    width: 5vw;
    margin-bottom: 18px;
    height: 50px;
    margin-top: 16%
}


.rightside {
 /* border: 1px solid black; */
   margin-top: 2%;
}

.buttonPrimary {
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    width: 100%;
    
    /* margin-left: 3vw; */
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px white, 3px 3px 0px 1px black;
}
.items{
    display: flex;
    justify-content: space-between;
}

.ordersummary {
    padding: 1vw;
    margin-top: 50px;
    /* width: 85%; */
    border: .5px solid grey;
    /* margin-left: 3vw; */
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: .5px solid black;
    /* width: 85%; */
    /* margin-left: 3vw; */
    margin-top: 20px;
    height: 60px;
}

 .paymentIn img {
    width: 50px;
 }

 .paymentIn {
    border: .5px solid rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    /* width: 85%; */
    /* margin-left: 3vw; */
    height: 90px;
    border-radius: 10px;
 }

 .paymentIn p {
    margin-top: 4px;
    /* width: 60%; */

 }

 .paymentMethod{
    margin-top: 30px;
    /* width: 85%; */
    /* margin-left: 3vw; */
 }
 .paymentMethod h5 {
    letter-spacing: 2px;
 }
 .paymentMethod img {
    margin-top: 10px;
    width: 13vw;
 }

 .productleftsidecheckout{
    margin-top: 20px;
    /* width: 30vw; */
    display: flex;
    gap: 2vw;
 }

 .buttonPrimaryCheckout {
    font-weight: bold;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    width: 85%;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px white, 3px 3px 0px 1px black;
}

.addGiftCard {
    /* width: 30vw; */
    margin-top: 27px;
}

.buttonPrimaryCheckoutWhite {
    font-weight: bold;
    padding: 10px 15px;
    background-color: white;
    color: #000;
    border: none;
    width: 85%;
    
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px white, 3px 3px 0px 1px black;
    border: 1px solid black;
}

.addGiftCardStatus {
    margin-top: 20px;
    /* width: 30vw; */
    display: flex;
    gap: 2vw;
}