.viewall{
    text-align: right;
}
.viewall a{
    color: black;
}


.product-slider {
    width: 80%;
    margin: auto;
    position: relative;
  }
  
  .slider-container {
    display: flex;
    overflow: hidden;
  }
  
  .product-item {
    box-sizing: border-box;
    width: 20%; /* Set width to 20% for 5 items in a slide */
    padding: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
  }
  
  /* Optional: Add styles for active slide or customize as needed */
  .product-item.active {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  @media (min-width: 576px) {
    .product-item {
      width: 50%; /* Two items per row on small screens */
    }
  }
  
  @media (min-width: 768px) {
    .product-slider {
      width: 70%;
    }
  }
  
  @media (min-width: 992px) {
    .product-item {
      width: 33.33%; /* Three items per row on medium screens */
    }
  }
  
  @media (min-width: 1200px) {
    .product-item {
      width: 20%; /* Five items per row on large screens */
    }
  }
  /* .product-slider{
    width: 80%;
    margin: 10px auto;
} */

/* .product-card {
  
    border-radius: 8px;
    padding: 16px;
    height: 300px;
  
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }
.product-card:hover{
    border : 1px solid black;
}

.product-image {

    object-fit: contain;
    width: 100%;
    margin-bottom: 12px;
}



.product-description {
    color: #666;
    margin-bottom: 12px;
}

.product-price {
    font-weight: 200;
    color: #333;
} */
